.error-section,
.success-section {
  position: fixed;
  /* align-self: flex-end; */
  bottom: 0;
  right: 20px;
  z-index: 40;
}

.error,
.success {
  display: none;
  position: relative;
  margin-bottom: 2vh;
}

.error-box,
.success-box {
  height: 55px;
  min-width: 380px;
  border-radius: 15px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 0px 15px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.7);
  position: relative;
  overflow: hidden;
  background: #fc3b3b;

  display: flex;
  align-items: center;
  justify-content: center;
}

.success-box {
  background: #4caa53;
}

.error-circle,
.success-circle {
  position: absolute;
  background: #292a45;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 1.8rem;
  height: 1.8rem;
  right: -8px;
  top: -10px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background 0.3s;
  cursor: pointer;
  z-index: 11;
}

.error-circle:hover,
.success-circle:hover {
  background: #fc3b3b;
}

.error-close,
.success-close {
  transform: rotate(45deg);
  font-size: 26px;
  color: #fc3b3b;
  transition: color 0.3s;
}

.error-circle:hover .error-close,
.success-circle:hover .success-close{
  color: #292a45;
}

.error-icon,
.success-icon {
  position: absolute;
  width: 65px;
  height: 65px;
  left: -17px;
  bottom: -10px;
}

.error-text,
.success-text {
  position: relative;
  font-size: 16px;
  color: white;
  font-weight: 500;
  font-style: italic;
  /* text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); */
  margin-left: 40px;
}

@media (max-width: 991px) {
  .error-box,
  .success-box {
    height: 55px;
  }

  .error-icon,
  .success-icon {
    width: 60px;
    height: 60px;
    left: -10px;
    bottom: -8px;
  }
}

@media (max-width: 550px) {
  .error-section,
  .success-section {
    bottom: 4vh;
  }

  .error,
  .success {
    height: 55px;
  }

  .error-box,
  .success-box {
    height: 50px;
    width: 300px;
    padding: 5px 15px;
    min-width: 0;
  }

  .error-icon,
  .success-icon {
    width: 50px;
    height: 50px;
    left: -5px;
    bottom: -5px;
  }

  .error-text,
  .success-text {
    font-size: 14px;
    font-weight: 500;
  }
}

@media (max-width: 370px) {
  .error,
  .success {
    min-width: 250px;
  }

  .error-text,
  .success-text {
    margin-left: 20px;
    font-size: 13px;
  }

  .error-icon,
  .success-icon {
    left: -10px;
    bottom: -8px;
  }
}
